@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*scrollbar*/

::-webkit-scrollbar              { width: 8px; background-color: rgba(0, 0, 0, .1); border-radius: 4px; }
/*
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
*/
::-webkit-scrollbar-thumb        { background-color: rgba(0, 0, 0, .3); border-radius: 4px; }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-color: #F4F4F4;
}

::-webkit-input-placeholder { color: rgba(0, 0, 0, .2); }
:-moz-placeholder { color: rgba(0, 0, 0, .2); }
::-moz-placeholder { color: rgba(0, 0, 0, .2); }
:-ms-input-placeholder { color: rgba(0, 0, 0, .2); }

.top-gap { margin-top: 20px; }
.left-gap { margin-left: 20px; }
.right-gap { margin-right: 20px; }
.bottom-gap { margin-bottom: 20px; }

.no-gap { margin: 0 !important; }

.btn {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.btn.btn-light {
    background: #3f51b5;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: table;
}

.container .row {
    margin: 0 25px;
    display: table;
}

.col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
    float: left;
    display: block;
}

.col-1 {  width: 100px; }
.col-2 { width: 200px; }
.col-3 { width: 300px; }
.col-4 { width: 400px; }
.col-5 { width: 500px; }
.col-6 { width: 600px; }
.col-7 { width: 700px; }
.col-8 { width: 800px; }
.col-9 { width: 900px; }
.col-10 { width: 1000px; }
.col-11 { width: 1100px; }
.col-12 { width: 1200px; }

.select-tag {
    color: #03A9F4;
}

.select-tag.title {
    text-align: center;
    padding: 50px 0 0;
    margin: 60px 0 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    border-top: 1px dashed rgba(0, 0, 0, .1);
    font-size: 80px;
}

.header .mini {
    margin-top: 5px;
    transition: all .3s ease-in-out;
    margin-right: 30px;
    float: left;
    font-size: 22px;
    font-weight: 900;
    color: rgba(0, 0, 0, .3);
}

.header {
    height: 112px;
}

.header nav.nav-top {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out .2s;
}

.header nav.nav-top .icon-camera {
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.header.active nav.nav-top {
    transform: translateY(-50px);
}

.header.active .form-input {
    transform: translateX(0);
}

.header.active .mini.active {
    color: #03A9F4;
}

.header .form-input {
    position: relative;
    float: left;
    min-width: 400px;
}

.header .form-input .icon-search {
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 4px;
    color: rgba(0, 0, 0, .2);
}

.header .form-input input[type="text"] {
    padding: 0 0 5px 35px;
    width: 100%;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #666;
    margin: 0;
}

.header .form-input input[type="text"]:focus {
}

.header h2 { transition: all .3s ease-in-out; }
.header.active h2 { opacity: 0; }

.photo {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    margin: 25px;
    position: relative;
    height: 360px;
    background-color: #FFFFFF;
}

.photo header {
    position: relative;
    height: 180px;
    transition: all .3s ease-in-out;
}

.photo header .bg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    float: left;
    overflow: hidden;
}

.photo header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 2;
}

.photo header .img {
    object-fit: cover;
    background-color: #333;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    position: absolute;
    left: -20px;
    top: -20px;
    transition: all .3s ease-in-out;
}

.photo header .img-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    z-index: 2;
}

.photo header .img-profile, .photo header .username {
    transition: all .3s linear;
}

.photo header .link {
    position: absolute;
    right: 10px;
    top: 10px;
}

.photo header .username {
    position: absolute;
    left: 120px;
    top: 145px;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    z-index: 2;
}

.photo header .favorite, .photo header .comment {
    position: absolute;
    top: 10px;
    color: #fff;
    z-index: 2;
}

.photo header .favorite { right: 10px; }
.photo header .comment { right: 60px; }

.photo header .favorite .material-icons,
.photo header .comment .material-icons,
.photo header .favorite span,
.photo header .comment span {
    float: left;
}

.photo header .favorite span, .photo header .comment span {
    font-weight: 900;
}

.photo header .favorite .material-icons,
.photo header .comment .material-icons {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 5px;
}

.photo header .favorite .material-icons { color: #E91E63; }
.photo header .comment .material-icons { color: #03A9F4; }

.photo main, .photo footer {
    padding: 15px;
    float: left;
}

.photo footer {
    width: 100%;
}

.photo main {
    height: 76px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px 0 0;
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
}

span.tag {
    float: left;
    padding: 2px 10px 2px 30px;
    background-color: rgba(0, 0, 0, .6);
    margin: 2px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
    position: relative;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

span.tag .material-icons {
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 6px;
}

.photo .details {
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: red;
    left: 0;
    top: 180px;
    transform: translateY(100%);
}

.btn.btn-search {
    width: 300px;
    margin: 20px auto 40px auto;
    display: table;
}

/*---------- on hover ----------*/

.photo:hover header:before {
    background-color: rgba(0, 0, 0, 0);
}

.photo:hover header .bg .img {
    transform: rotate(-5deg) scale(1.2);
}

span.tag:hover {
    transform: rotateX(360deg);
    background-color: #03A9F4;
    z-index: 2;
    cursor: pointer;
}

.photo:hover .bg:hover {
    height: 360px;
}

.photo .show-photo {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    z-index: 3;
    width: 100px;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.photo:hover .show-photo {
    opacity: 1;
}

/*show photo*/

.photo.active header { height: 360px; }
.photo.active header:before { background-color: rgba(0, 0, 0, 0); }
.photo.active header .img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.photo.active header .img-profile, .photo.active header .username { opacity: 0; }
.photo.active .show-photo {
    transform: translateX(-110px) translateY(-45px);
    padding: 5px;
}
.photo .show-photo:before { content: "show"; }
.photo.active .show-photo:before { content: "hidden"; }
